:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --color-primary: rgb(160, 255, 255);
}

.custom-hotspot {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.5);
  animation: ripple 2s infinite;
}

@keyframes ripple {
  0% {
    box-shadow: 0 0 0px 0 rgba(255, 255, 255, 1);
  }
  50% {
    box-shadow: 0 0 20px 0 rgba(255, 255, 255, 1);
  }
  100% {
    box-shadow: 0 0 0px 0 rgba(255, 255, 255, 1);
  }
}
.custom-hotspot span {
  position: absolute;
  left: 50%;
  top: 0;
  transform: translate(-50%, -100%);

  color: white;
  text-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
  text-align: center;
  white-space: nowrap;
}


.pnlm-compass {
  filter: invert(1);
  border: 0 !important;
}